<h3 style="margin:25px 0 5px; line-height:1.2;">{{ .context.title }}</h3>

{{ with .context.coauthors }}
    <p style="margin:0 0 5px; line-height:1.2;">(with {{ . }})</p>
{{ else }}
    {{ with .context.coeditors }}
        <p style="margin:0 0 5px; line-height:1.2;">({{ . }})</p>
    {{ end }}
{{ end }}

{{ with .context.note }}<p style="margin:0 0 5px; line-height:1.2;">{{ . }}</p>{{ end }}

<p style="margin:0 0 5px; line-height:1.2;">
    {{ with .context.bookprefix }}<em>{{ . }}</em>{{ end }}
    {{ with .context.book }}
        <em style="display:inline;"><u>{{ . }}</u></em>
    {{ end }}
    {{ if not .context.booksuffix }}
        <em style="display:inline;">.</em>
    {{ else }}
        {{ with .context.booksuffix }}<em>{{ . }}</em>{{ end }}
    {{ end }}
    {{ with .context.pdflink }}<span style="display:inline;">[<a href="{{ . }}" target="blank" style="font-weight:normal;">PDF</a>]</span>{{ end }}
    {{ with .context.links }}
        {{ range . }}
            <span style="display:inline;">[<a href="{{ .url }}" target="blank" style="font-weight:normal;">{{ .text }}</a>{{ with .note }}: {{ . }}{{ end }}]</span>
        {{ end }}
    {{ end }}
</p>


{{ $pid := .pid }}
{{ with .context.abstract }}<p style="margin:0 0 5px; line-height:1.2;"><a href="javascript:toggle({{ $pid }})">Abstract<span id="pubabslink_{{ $pid }}"> (click to expand)</span></a><span id="pubabs_{{ $pid }}" style="display:none;">: {{ . }}</span></p>{{ end }}
